<div class="page-header">
  <%= link_to "New Memberships", new_project_membership_path, class: "btn btn-info pull-right" %>
  <h1><%= @project.name %>: Manage Members</h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class= "Active">Memberships</li>
</ol>

<table class="table">
  <thead>
    <tr>
      <th class= "col-sm-3">Role</th>
      <th class= "col-sm-2"></th>
      <th>

      </th>
    </tr>
  </thead>
  <% @memberships.each do |membership| %>
    <tr>
      <td class = <%= this_class %> ><%= link_to membership.role, project_membership_path(membership.project,membership) %></td>
      <td>

      </td>
      <td class="text-right">
        <%= link_to 'Edit', edit_project_membership_path(membership.project,membership), class: "btn btn-info" %>
        <%= link_to 'Delete', project_membership_path(membership.project,membership), method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
