Projects Memberships
<div class="page-header">
  <%= link_to "New Task", new_project_membership_path, class: "btn btn-info pull-right" %>
  <h1>Tasks for <%= @project.name %></h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class= "Active">Tasks</li>
</ol>

<table class="table">
  <thead>
    <tr>
      <th class= "col-sm-3">Description</th>
      <th class= "col-sm-2">Due On</th>
      <th>

      </th>
    </tr>
  </thead>
  <% @memberships.each do |membership| %>
    <tr>
      <% membership.complete ? this_class = 'strikethrough' : custom_class =''  %>
      <td class = <%= this_class %> ><%= link_to membership.description, project_membership_path(membership.project,membership) %></td>
      <td>
        <% if membership.due_date %>
          <%= membership.due_date.strftime("%_m/%d/%Y") %>
        <% end %>
      </td>
      <td class="text-right">
        <%= link_to 'Edit', edit_project_membership_path(membership.project,membership), class: "btn btn-info" %>
        <%= link_to 'Delete', project_membership_path(membership.project,membership), method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
