
<div class="page-header">


  <p class = "pull-right">  (showing first 500)</p>
  <h1>Stories for <%= @project_name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class= "col-md-6">Story</th>
      <th class= "col-md-2">Estimate</th>
      <th class= "col-md-2">Labels </th>
      <th class= "col-md-2">Current State </th>
    </tr>
  </thead>

  <% if @tracker_stories %>
    <% @tracker_stories[0..499].each do |story| %>
      <tr>
        <td class = "col-md-6">
          <%= link_to story[:name], "https://www.pivotaltracker.com/story/show/#{story[:id]}" %>
        </td>

        <td class = "col-md-2">
          <%= story[:estimate] %>
        </td>

        <td class = "col-md-2">
          <% label_list = [] %>
          <% story[:labels].each do |label| %>
            <% label_list << label[:name] %>
          <% end %>
          <%= label_list.join(", ") %>
        </td>

        <td class = "col-md-2">
          <%= story[:current_state] %>

        </td>
      </tr>
    <% end %>
  <% end %>

</table>
