%ol.breadcrumb
  %li
    = link_to 'Tasks', tasks_path
    -if @task[:description] != nil && @page_name == "Edit"
      %li
        = link_to @task.description, task_path(@task)
        -# = link_to @task.description_was, task_path(@task)

  %li.active
    = @page_name

- if @task.errors.any?
  .row
    .col-sm-2
    .col-sm-7
      .alert.alert-danger
        %h3
          = pluralize(@task.errors.count, "error")
          prohibited this form from being saved:
        - @task.errors.full_messages.each do |error|
          %li
            = error
    .col-sm-3

= form_for(@task, html: { class: "form-horizontal" }) do |t|
  .row.form-group
    = t.label :description, class:"control-label col-sm-2"
    .col-sm-6
      = t.text_field :description, class:"form-control"
    .col-sm-4

  .form-group
    = t.label :due_date, class:"control-label col-sm-2"
    .col-sm-4
      = t.date_field :due_date, class:"form-control"
    .col-sm-6


  .form-group
    .col-sm-6.col-sm-offset-2
      -if @page_name != "New Task"
        %p
          = t.check_box :complete
          Complete

    .col-sm-6.col-sm-offset-2.extra-padding
      = t.submit class: "btn btn-primary"
      = link_to 'Cancel', tasks_path, class: "btn btn-default"
