<div class="page-header">
  <h1>Listing Tasks</h1>
</div>

<h3>Description</h3>
  <div>
    <% @tasks.each do |task| %>

      <p><%= task.description %>
      <%= link_to "Show", task %>

      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Delete', task, method: :delete %>
      </p>
      <% end %>
  </div>

<div>
<%= link_to "New Task", new_task_path %>
</div>
