<div class="page-header">
  <%= link_to "New Task", new_task_path, class: "btn btn-info pull-right" %>
  <h1>Listing Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th class= "col-sm-2">Description</th>
      <th class= "col-sm-2">Due Date</th>
      <th>

      </th>
    </tr>
  </thead>

  <% @tasks.each do |task| %>
  <tr>
    <% if task.complete %>
      <td><s><%= link_to task.description, task %></s></td>
    <% else %>
    <td><%= link_to task.description, task %></td>
    <% end %>
    <td>
      <% if task.due_date %>
        <%= task.due_date.strftime("%m/%d/%Y") %>
        <% end %>
    </td>
    <td class="text-right">
      <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
      <%= link_to 'Delete', task, method: :delete, class: "btn btn-danger" %>
    </td>
  </tr>
  <% end %>
</table>
