<div class="page-header">
  <%= link_to "Edit", edit_task_path, class: "btn btn-info pull-right" %>

  <% @task.complete ? this_class = 'strikethrough' : custom_class =''  %>

    <h1 class = <%= this_class %> ><%= @task.description.downcase.titleize %></h1>

</div>

<ol class="breadcrumb">
  <li><%= link_to 'Tasks', tasks_path %></li>
  <li class="active"><%= @task.description %></li>
</ol>

<strong>Due On</strong>:
<% if @task.due_date %>
  <%= @task.due_date.strftime("%m/%d/%Y") %>
<% end %>
