<div class="page-header">
  <%= link_to "Edit", edit_project_task_path(@task.project,@task), class: "btn btn-info pull-right" %>
  <% @task.complete ? this_class = 'strikethrough' : custom_class =''  %>
  <h1 class = <%= this_class %> ><%= @task.description.downcase.titleize %></h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to 'Tasks', project_tasks_path %></li>
  <li class= "Active"> <%= @task.description %> </li>
</ol>

<strong>Due On</strong>:
<% if @task.due_date %>
  <%= @task.due_date.strftime("%m/%d/%Y") %>
<% end %>
