= render partial: "shared/error", locals: {object: @user}

= form_for(@user, html: { class: "form-horizontal" }) do |u|
  .form-group
    = u.label :first_name, class:"control-label col-sm-2"
    .col-sm-6
      = u.text_field :first_name, class:"form-control"
    .col-sm-4

  .form-group
    = u.label :last_name, class:"control-label col-sm-2"
    .col-sm-6
      = u.text_field :last_name, class:"form-control"
    .col-sm-2

  .form-group
    = u.label :email, class:"control-label col-sm-2"
    .col-sm-6
      = u.email_field :email, class:"form-control"
    .col-sm-2

  .form-group
    = u.label :password, class:"control-label col-sm-2"
    .col-sm-6
      = u.password_field :password, class:"form-control"
    .col-sm-2

  - if name_of_button == "Create User"
    .form-group
      = u.label :password_confirmation, class:"control-label col-sm-2"
      .col-sm-6
        = u.password_field :password_confirmation, class:"form-control"
      .col-sm-2

  .form-group
    .col-sm-6.col-sm-offset-2
      = u.submit name_of_button, class: "btn btn-primary"
      = link_to 'Cancel', users_path, class: "btn btn-default"

  - if name_of_button == "Update User"
    .form-group
      .col-sm-6.col-sm-offset-2
        .well
          %center
            = link_to 'Delete User', @user, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
