- if @project.errors.any?
  .row
    .col-sm-2
    .col-sm-7
      .alert.alert-danger
        %h3
          = pluralize(@project.errors.count, "error")
          prohibited this form from being saved:
        - @project.errors.full_messages.each do |error|
          %li
            = error
    .col-sm-3

= form_for(@project, html: { class: "form-horizontal" }) do |proj|
  .form-group
    .col-md-2.text-right
      =proj.label :name, class:"control-label"
    .col-md-6
      = proj.text_field :name, class:"form-control"
    .col-md-4

  .form-group
    .col-md-6.col-md-offset-2
      = proj.submit name_of_button, class: "btn btn-primary"
      = link_to 'Cancel', projects_path, class: "btn btn-default"
