<div class="page-header">
  <%= link_to "New Project", new_project_path, class: "btn btn-info pull-right", id: "new project link" %>
  <h1>Projects</h1>
</div>

<div class="">

</div>
  <table class="table", id= "gcamp_table">
    <thead>
      <tr>
        <th class= "col-sm-3">Name</th>
        <th class= "col-sm-5"> </th>
        <th class= "col-sm-4">Tasks</th>
      </tr>
    </thead>

    <% projects_list.each do |project| %>

        <tr>
          <td>
              <%= link_to project.name, project %>
          </td>
          <td>
          </td>
          <td>
            <%= link_to project.tasks.count.to_s, project_tasks_path(project) %>
          </td>
      </tr>

    <% end %>
  </table>

<div class="page-header">
  <h1>Pivotal Tracker Projects</h1>
</div>

<div class="">

</div>
  <table class="table", id= "tracker_table">
    <thead>
      <tr>
        <th class= "col-sm-3">Name</th>
      </tr>
    </thead>

    <% if @tracker_projects && @tracker_projects.length == 4 %>
      <%= @tracker_projects[:possible_fix]%>
      <% elsif @tracker_projects %>
        <% @tracker_projects.each do |project| %>
          <tr>
            <td>

              <%= link_to project[:name], tracker_project_path(project[:id]) %>
            </td>
          </tr>
        <% end %>
    <% end %>
</table>
