<div class="page-header">
  <h1>
    <%= @project.name %>
  <div class="pull-right">
    <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info" %>
    <%= link_to 'Delete', @project, method: :delete, class: "btn btn-danger" %>
  </div>
</h1>

</div>

<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li class="Active"><%= @project.name %></li>

</ol>

<div class="">
  <%= link_to pluralize(@project.tasks.count,"Task"), project_tasks_path(@project) %>
</div>
