<!DOCTYPE html>
<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">gCamp</a>
    </div>
  </nav>

  <div class="container">
    <%= yield %>

    <div class="page-header">

    </div>

    <footer>

      <%= link_to 'About', about_path(@about) %> |
      <%= link_to 'Terms', terms_path(@terms) %>


    </footer>




  </div>

</body>
</html>
