<!DOCTYPE html>
<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">gCamp</a>
    </div>
  </nav>

  <div class="container">
    <% if flash[:notice] %>
    <div class="alert alert-success"> <%= flash[:notice] %></div>
    <% end %>


    <%= yield %>

    <div class="page-header">

    </div>

    <footer>

      <div class="navbar-left">
        <%= link_to 'About', about_path(@about) %> |
        <%= link_to 'Terms', terms_path(@terms) %> |
        <%= link_to 'FAQ', faq_path(@faq) %>
      </div>

      <div class="navbar-right">
        <%= link_to "http://www.linkedin.com/in/teddimaull/" do%>
        <%= image_tag "linkedin.jpg", height:"30" %>
        <% end %>

        <%= link_to "http://github.com/teddim" do%>
        <%= image_tag "github.png" , height:"30"  %>
        <% end %>

        <%= link_to "http://twitter.com/teddimaull" do%>
        <%= image_tag "twitter.png", height:"30"  %>
        <% end %>

        <%= link_to "https://students.gschool.it/students/292" do%>
        <%= image_tag "galvanize.png", height:"30" %>
        <% end %>
      </div>

    </footer>

  </div>

</body>
</html>
